<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>TodoListAlmati</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="icon" type="image/png" href="/images/icon-checkBox.png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One" rel="stylesheet">
</head>
<body>
	<header>
		<a href="#" id="title">
			<h1>&nbsp;Almati&nbsp;</h1>
		</a>
	</header>
	<section>
		<nav id="taskSelection">
			<label for="userSelect">Utilisateur: </label>
			<select name="userSelect" id="userSelect">
				<option value="any">Tout le monde</option>
			</select>
			<label for="taskTypeSelect">Type de tache:</label>
			<select name="taskTypeSelect" id="taskTypeSelect">
				<option value="any">Toutes</option>
				<option value="server">Serveur</option>
				<option value="style">Style</option>
				<option value="structure">Structure</option>
			</select>
			<label for="status">Status: </label>
			<select name="status" id="status">
				<option value="any">Tout</option>
				<option value="Fait">Fait</option>
				<option value="PasFait">A faire</option>
			</select>
		</nav>
	</section>

	<!--Inclusion des scripts-->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/socket.js"></script>
</body>
</html>