<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<section>
		
	</section>

	<!--Inclusion des scripts-->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/socket.js"></script>
</body>
</html>