<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>TodoListAlmati</title>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<link rel="icon" type="image/png" href="/images/icon-checkBox.png">

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Comfortaa|Poiret+One" rel="stylesheet">
</head>
<body>
	<header>
		<a href="#" id="title">
			<h1>&nbsp;Almati&nbsp;</h1>
		</a>
		<a href="#userLogIn" id="userLink"><img src="/images/user.png" alt="userImage" width="50" height="50"></a>
		
		<!-- user connexion -->
		<nav id="userLogIn" onclick="closeWindow(this,true)" class="userBox">
			<div onclick="closeWindow('',false)">
				<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
				<form action="#" method="post" accept-charset="utf-8" id="logingForm" >
					
					<label for="user">Pseudo</label>
					<input type="text" name="pseudo" value="" placeholder="User">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" value="" placeholder="Password">
					<input type="submit" name="submit" value="Valider">
				</form>
				<a href="#userAdd"><p>Nouvel utilisateur</p></a>
			</div>
		</nav>
		
		<!-- add user -->
		<nav id="userAdd" onclick="closeWindow(this,true)" class="userBox warningOnClose">
			<div onclick="closeWindow('',false)">
				<button class="closeButton" onclick="closeWindow(this,true)">&nbsp;</button>
				<form action="/newUser" method="post" accept-charset="utf-8" onsubmit="return verifyPasswordPseudo(this)">
					<label for="user">Pseudo</label>
					<div class="tooltip">
						<input type="text" name="pseudo" value="" placeholder="Pseudo" id = "pseudoInput">
						<div class="bottom" id="pseudoTooltip">
							<p>Le pseudo ne doit pas faire moins de <strong>2</strong> caractères ou plus de <strong>15</strong> caratères</p>
							<i></i>
						</div>
					</div>
					<label for="password">Mot de passe</label>
					<div class="tooltip">
						<input type="password" name="password" value="" placeholder="Password" id = "passwordInput"> 
						<div class="bottom" id="passwordTooltip">
							<p>Le mot de passe doit faire plus de 8 caratèreset conternir des majuscules, des minuscules et des nombres,</p>
							<i></i>
						</div>
					</div>
					<label for="password">Confirmation du mot de passe</label>
					<div class="tooltip">
						<input type="password" name="passwordConfirm" value="" placeholder="Password" id = "passwordVerifInput">
						<div class="bottom" id="passwordConfirmTooltip">
							<p>Les mots de passes ne correspondent pas</p>
							<i></i>
						</div>
					</div>
					<input type="submit" name="submit" value="Valider">
				</form>
			</div>
		</nav>
	</header>

	<section>
		<!-- input for filter task -->
		<nav id="taskSelection">
			<label for="userSelect">Utilisateur: </label>
			<select name="userSelect" id="userSelect">
				<option value="any">Tout le monde</option>
			</select>
			<label for="taskTypeSelect">Type de tache:</label>
			<select name="taskTypeSelect" id="taskTypeSelect">
				<option value="any">Toutes</option>
				<option value="server">Serveur</option>
				<option value="style">Style</option>
				<option value="structure">Structure</option>
			</select>
			<label for="status">Status: </label>
			<select name="status" id="status">
				<option value="any">Tout</option>
				<option value="Fait">Fait</option>
				<option value="PasFait">A faire</option>
			</select>
		</nav>
	</section>

	<!--Inclusion des scripts-->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="/js/socket.js"></script>
	<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>