html,body
{
	margin: 0;
}
*{
	font-family: 'Dosis';
}
body
{
	background: url("/images/background.jpg") center fixed no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header
{
	background-color: #000;
	padding-left: 1%;
	padding-right: 0%;
	height:80px;
	margin-bottom: 20px;
	display: flex;
}

header > #userLink
{
	display: block;
	margin-bottom: auto;
	margin-top: auto;
	margin-left: auto;
	margin-right: 30px;
	z-index: 20;
}
section
{
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
}
a
{
	text-decoration:none;
	color:#0FF;
}
a:hover
{
	text-decoration:none;
	color:#9FF;
}
#title
{
	height: 100%;
}
#title>h1
{
	height:100%;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 5px;
	margin-right: 5px;
	line-height:80px;
	vertical-align: center;
	transition-duration: 0.5s;
}
#title>h1:hover
{
	color:orange;
}
#taskSelection
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
img.userImage
{
	border-radius: 100%;
	width: 100px;
	height: 100px;
}
#newTask
{
	padding: 1px 6px;
	text-align: center;
	align-items: flex-start;
	box-sizing: border-box;
	letter-spacing: normal;
	word-spacing: normal;
	text-indent: 0px;
	height: auto !important;
}
/*style for the input, button...*/
#taskTextArea
{
	width: 260px;
	height: 165px;
}
textArea
{
	width:100%;
    color:white;
    border:1px solid #0AF;
    border-radius:5px;
    background-color:black;
    color:white;
}
button, select, #newTask
{
	color:white;
    border:1px solid #0AF;
    border-radius:5px;
    transition-duration:1s;
    height: 25px;
    font-size: 15px;
    background: black;
}
button{
	cursor: pointer;
}
button > p
{
	margin: auto;
    margin-left: 5px;
}
#logout
{
	display: flex;
	height: auto;
}
#logout > img
{
	margin: 5px;
}
label
{
	font-size: 20px;
	margin:5px;
	color: white;
}
input
{
	z-index: 0;
	background-color:black;
	border:1px solid #0AF;
	height:20px;
	margin:5px;
	border-radius: 10px;
	color:white;
	padding:5px;
	font-size:15px;
	font-family: 'Dosis';
	display: block;
}
input[type="submit"]
{
	padding-top: 0;
	margin-right: auto;
	margin-left:auto;
	cursor: pointer;
	transition-duration: 0.5s;
}
input[type="submit"]:hover, button:hover:not(.closeButton), #newTask:hover
{
	background: white;
	color: #0AF;
}
input[type="file"]
{
	display: none;
}
.labelDisplay{
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;
}

#displayavatarSelect, #displayavatarSelectChange
{
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	right: auto;
	left: auto;
    z-index: 0;
}
.displayAvatarHoverText
{
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background: #000000AF;
	display: none;
	cursor: pointer;
	z-index: 1;
}
#displayavatarSelect:hover ~ .displayAvatarHoverText
{
	display: flex;
}
#displayavatarSelectChange:hover ~ .displayAvatarHoverText
{
	display: flex;
}
.displayAvatarHoverText:hover
{
	display: flex;
}
.displayAvatarHoverText>p
{
	margin: 0;
	text-align: center;
	justify-content: center;
}
/*Style for logIn and SignIn*/
.userBox
{
	position: fixed;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	z-index: 5;
	background-color:rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	display: none;
}
.userBox>div
{
	background: black;
	z-index: 10;
	box-shadow: 0px 0px 5px 5px #111;
}
.userBox form
{
	padding:10px;
	align-items: center;
	display: flex;
	flex-direction:column;
}
.userBox:target
{
	display: flex;
}
.closeButton
{
	border: none;
    width:20px;
    height:20px;
    background:url("/images/close.png");
    background-size:cover;
    display: block;
    margin: 2px;
    margin-left: auto;
    cursor: pointer;
}
#paramContener
{
	padding:10px;
	align-items: center;
	display: flex;
	flex-direction:column;
}


/*tips for logIn*/
.invalid
{
	-webkit-box-shadow: 0px 0px 17px -3px rgba(245,12,12,1);
	-moz-box-shadow: 0px 0px 17px -3px rgba(245,12,12,1);
	box-shadow: 0px 0px 17px -3px rgba(245,12,12,1);
	border: solid red 1px;
}

.invalid:focus ~ .bottom
{
	display: block;
}
.tooltip {
    display:inline-block;
    position:relative;
    text-align:left;
}

.tooltip .bottom {
    min-width:200px; 
    top:40px;
    left:50%;
    transform:translate(-50%, 20%);
    padding:10px 20px;
    color:#FFFFFF;
    background-color:#0AF;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:999999999;
    box-sizing:border-box;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}

.tooltip .bottom i {
    position:absolute;
    bottom:100%;
    left:50%;
    margin-left:-12px;
    width:24px;
    height:12px;
    overflow:hidden;
}

.tooltip .bottom i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:50%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:#0AF;
    border:1px solid #222;box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

/*style for the task*/
#taskContener
{
	margin-right: 5%;
	margin-left: 5%;
	width: 90%;
}
table
{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
td
{
	border: solid black 1px;
}
td label{
	font-size: inherit;
}
th
{
	background: black;
	color: white;
	border: solid 1px #0AF;
}
td
{
	background: grey;
	color: white;
	border: solid 1px #0AF;
}
td:not(.tdDescription)
{
	text-align: center;
}
.tdUser
{
	overflow: auto;
}
.tdUser>div
{
	display: flex;
	align-items: center;
}
.tdUser>div>img
{
	margin-right: 5px;
	width: 50px;
	height: 50px;
}
.tdTitle>h2
{
	margin: 0;
}
.tdDescription
{
	background: #9c9b9b;
	padding: 5px;
}
.tdDescription>div
{
	max-width: 95%;
	overflow: auto;
}

.tdDescription img
{
	max-width: 100px;
	max-height: 100px;
}
.tdType h2
{
	margin-top: 0;
	margin-bottom: 0;
}
.tdState
{
	padding: 0;
}
.tdState>div
{
	min-width: max-content;
	display: flex;
	align-content: center;
	justify-content: center;
}
.taskState0
{
	background: red;
}
.taskState1
{
	background: orange;
}
.taskState2
{
	background: lime;
}
.taskStateButton{
	cursor: pointer;
}
.taskStateContener
{
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	border-radius: 0;
	color: white;
}
.taskStateContener h2{
	font-size: 24px;
}

.checkboxGroup{
	display: flex;
	align-items: center;
	justify-content: center;
}